---
import { SIDEBAR } from "../../config";
import { getSidebarItems } from "./utils";

const sidebarItems = getSidebarItems(SIDEBAR);
---

<aside class="prose prose-sm max-w-none overflow-auto dark:prose-invert">
  <ul class="list-none p-0">
    {
      sidebarItems.map(([header, children]) => {
        return (
          <li class="p-0">
            <h3 class="mt-0">{header}</h3>
            <ul class="p-0">
              {children.map((child) => {
                return (
                  <li class="list-none p-0">
                    <a
                      class="text-gray-700 no-underline hover:text-gray-900 dark:text-gray-300 dark:hover:text-gray-50"
                      href={child.link}
                    >
                      {child.text}
                    </a>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ul>
</aside>
